<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu" data-dropdown-menu>
      <li class="menu-text">Practica rails</li>
      <li>
        
      </li>
      <li><%= link_to "home", controller: "/posts", action: "index" %></li>
      <li><% if user_signed_in? %>
             <%= link_to "nuevo post", controller: "/posts", action: "new" %>
              <% else %>
            
           
          
          <%end%>
          
          
          </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
        <% if user_signed_in? %>
        <li> <strong><%= current_user.email %></strong> </li>
        <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
       <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %> </li>
       
        
        
        <% elsif admin_signed_in? %>
        <li> <strong><%= current_admin.email %></strong> </li>
        <li><%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %></li>
        <li> <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link' %> </li>
          <% else %> 
        <li> <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> </li>
        <li> <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %> </li>
        <li> <%= link_to "Login admin", new_admin_session_path, :class => 'navbar-link' %> </li>
        <% end %>
        
    </ul>
  </div>
</div>



